<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert Title here</title>

</head>

<body>
	<section>
		<div class="container admin-page">
			<div class="row">
				
				<div class="col-lg-7 col-md-9 mx-auto">
					<div class="admin-card">
						<div class="admin-card-header">
							<h3>Add Admin</h3>
							<th:block th:if="${session.succMsg}">
								<p class="text-success fw-bold">[[${session.succMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>

							<th:block th:if="${session.errorMsg}">
								<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
								<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
							</th:block>
						</div>
						<div class="admin-card-body">

							<form action="/admin/save-admin" enctype="multipart/form-data" method="post" id="adminRegister" novalidate>
								
								<div class="row">
									<div class="col">
										<label class="form-label">Full Name</label>
										<input required class="form-control" name="name" type="text">
									</div>

									<div class="col">
										<label class="form-label">Mobile Number</label>
										<input required class="form-control" name="mobileNumber" type="number">
									</div>
								</div>

								<div class="mb-3">
									<label class="form-label">Email</label>
									<input required class="form-control" name="email" type="email">
								</div>

								<div class="row">
									<div class="col">
										<label class="form-label">Address</label>
										<input required class="form-control" name="address" type="text">
									</div>
									<div class="col">
										<label class="form-label">City</label>
										<input required class="form-control" name="city" type="text">
									</div>
								</div>

								<div class="row">
									<div class="col">
										<label class="form-label">State</label>
										<input required class="form-control" name="state" type="text">
									</div>
									<div class="col">
										<label class="form-label">Pincode</label>
										<input required class="form-control" name="pincode" type="number">
									</div>
								</div>

								<div class="row">
									<div class="col">
										<label class="form-label">Password</label>
										<input required class="form-control" name="password" type="password" id="pass">
									</div>
									<div class="col">
										<label class="form-label">Confirm Password</label>
										<input required class="form-control" name="cpassword" type="password">
									</div>
								</div>

								<div class="mb-3">
									<label class="form-label">Profile Image</label>
									<input required class="form-control" name="img" type="file">
								</div>


								<button type="submit" class="admin-btn w-100">Register</button>

							</form>
						</div>

						

					</div>

				</div>
			</div>
		</div>
	</section>

</body>

</html>