<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert Title here</title>

</head>

<body>
	<section>
		<div class="container fluid mt-5 p-5">
			<div class="card card-sh">
				<div class="card-header text-center">
					<p class="user-page-title">
						<i class="fa-solid fa-cart-shopping"></i>Shopping Cart</p>
					<th:block th:if="${session.succMsg}">
						<p class="text-success fw-bold">[[${session.succMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>

					<th:block th:if="${session.errorMsg}">
						<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
						<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
					</th:block>
				</div>
				<div class="card-body">
					<div class="table-responsive">
					<table class="table align-middle premium-cart-table">
						<thead>
							<tr>
								<th scope="col">S.No.</th>
								<th scope="col">Image</th>
								<th scope="col">Product Name</th>
								<th scope="col">Price</th>
								<th scope="col" class="text-center">Quantity</th>
								<th scope="col">Total Price</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="cart, c : ${carts}">
								<th scope="row">[[${c.count}]]</th>
								<!-- @{'/uploads/Product/' + ${cart.product.image}} -->
								<td><img th:src="${imageHelper.getProductImageUrl(cart.product.image)}" class="cart-product-img">
								</td>
								<td>[[${cart.product.title}]]</td>
								<td>[[${cart.product.discountPrice}]]</td>
								<td class="text-center">
									<div class="qty-box">
									 <a
										th:href="@{'/user/cartQuantityUpdate?sy=de&cid='+${cart.id}}" class="qty-btn"><i
											class="fa-solid fa-minus"></i></a>
										<span class="qty-count">
										[[${cart.quantity}]]</span><a
										th:href="@{'/user/cartQuantityUpdate?sy=in&cid='+${cart.id}}" class="qty-btn"> <i
											class="fa-solid fa-plus"></i></a></div></td>
								<td>[[${cart.totalPrice}]]</td>
							</tr>
							<tr class="cart-total-row">
								<td colspan="4"></td>
								<td> <span class="cart-total-label">Total Price </span></td>
								<td> <span class="cart-total-price">₹ [[${totalOrderPrice}]]</span></td>
							</tr>
							

						</tbody>
					</table>
					</div>
					<div class="text-center">
						<a href="/user/orders" class="btn proceed-btn">
							Proceed To Payment
							<i class="fa-solid fa-arrow-right"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>