<!Doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert Title here</title>

</head>

<body>
	<section class="auth-section">
		<div class="container mt-5 p-5">
			<div class="row justify-content-center">
				
				<div class="col-lg-5 col-md-7">
					<div class="card auth-card p-4">
						<div class="card-header">
							<p class="fs-4 text-center">Forgot Password</p>
							
								<th:block th:if="${session.succMsg}">
									<div class="text-success fw-bold text-center">[[${session.succMsg}]]</div>
									<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
								</th:block>

								<th:block th:if="${session.errorMsg}">
									<div class="text-danger fw-bold text-center">[[${session.errorMsg}]]</div>
									<th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
								</th:block>


						</div>
						<div class="card-body">
							<form action="/forgot-password" method="post">
								<div class="mb-3">
									<label class="form-label">Email</label>
									<input required class="form-control" name="email" type="email"
										placeholder="Enter your email">
								</div>

								<div class="text-center">

									<button type="submit" class="btn bg-primary text-white">Send</button>
								</div>
							</form>
						</div>

					</div>

				</div>
			</div>
		</div>
	</section>

</body>

</html>